<div class="container">
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card" (click)="openDialogtruemd()">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-imagee"></div>
                  <mat-card-title>True-MD-Wellness</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://source.unsplash.com/400x200/?medical" alt="Photo of a Shiba Inu">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>

     

    </div>
</div>