<carousel>
    <slide>
      <img src="../../../assets/Assetlogin.png" height="400px" width="1200px" alt="Image 1">
    </slide>
    <slide>
      <img src="../../../assets/Assetdashboars.png" height="400px" width="1200px" alt="Image 2">
    </slide>
    <slide>
      <img src="../../../assets/Accessories.png" height="400px" width="1200px" alt="Image 3">
    </slide>
    <slide>
        <img src="../../../assets/Consumables.png" height="400px" width="1200px" alt="Image 3">
      </slide>
     
      <slide>
        <img src="../../../assets/assetreq.png" height="400px" width="1200px" alt="Image 3">
      </slide>
  </carousel>

  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Asset Managment System - Oracle Apex Development</h1>
    
        <ul>
          <li>Oracle Apex Development</li>
          <li>Roles And Permissions </li>
        </ul>
      </div>
    </div>
    <hr>
  </div>