.cardhome{
    background-color: black;
    color:whitesmoke;
       height: 500px;
}
.ml{
margin-left:10px;
}

 .matcard{
    background-color:black;
 }
 .container-fluid{
    background-color:black;
    height: 100vh;
}