
<header class="back">
    
</header>
<div class="container-fluid mt-1">
    <div class="col-md-12">
        <mat-card class="text-center matcard cardhome star-galaxy-animation">
            <div class="header mt-5">
                <h1>Hello, i'm <span class="spanname">Anurag Sharma</span></h1>
                <h2>i'm full-stack web developer</h2> 
 
                <button mat-raised-button color="primary" routerLink="/about" >View my work</button> <button mat-icon-button matTooltip="Warn" aria-label="Example icon-button with a heart icon">
                    <mat-icon class="mt-0">arrow_forward</mat-icon>
                  </button>
            </div>
          
            <div class="text-center mt-5">
             <img src="../../../assets/instagram.png"  onclick="location.href = 'https:instagram.com/anuragg_sharma_?igshid=ZDdkNTZiNTM=';"  height="40px" width="40px" alt="">
             <img src="../../../assets/facebook.png" onclick="location.href = 'https:www.facebook.com/profile.php?id=100022619733471&mibextid=ZbWKwL';"  class="ml" height="40px" width="40px" alt="">
             <img src="../../../assets/linkedin.png" onclick="location.href = 'https:www.linkedin.com/in/anurag-sharma-5245591bb';" class="ml" height="40px" width="40px" alt="">
             <img src="../../../assets/whatsapp.png" class="ml" onclick="location.href = ' https:api.whatsapp.com/send?phone=9171743927';" height="40px" width="40px" alt="">
            </div>
        </mat-card>
      
    </div>
</div>