<div class="container">
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card" (click)="openDialog()">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image-pos"></div>
                  <mat-card-title>Restro POS</mat-card-title>
                  <mat-card-subtitle>AngularJS + Spring Boot</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://source.unsplash.com/400x200/?restaurant" alt="Photo of a Shiba Inu">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card" (click)="openDialogexxam()">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Online-Exam-Portal</mat-card-title>
                  <mat-card-subtitle>Angular + Spring Boot</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://source.unsplash.com/400x200/?quiz,exam,school" alt="Photo of a Shiba Inu">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>

    </div>
</div>