

<carousel class="mt-5">
  <slide>
    <img src="../../../assets/dashborad.png" height="400px" width="1200px"
      alt="Image 1">
  </slide>
  <slide>
    <img src="../../../assets/TableDetals-html.png" height="400px"
      width="1100px" alt="Image 2">
  </slide>
  <slide>
    <img src="../../../assets/foods-html-table_id-1094-order_id-1175.png"
      height="400px" width="1200px" alt="Image 3">
  </slide>
  <slide>
    <img src="../../../assets/invoice.png" height="400px" width="1200px"
      alt="Image 3">
  </slide>

</carousel>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>RESTRO POS - AngularJS And Spring Boot Development</h1>
  
      <ul>
        <li>Created UI using HTML, CSS, BOOTSTRAP, and JavaScript.</li>
        <li>Created API and Backend logic using Spring Boot.</li>
        <li>Development of whole functionalities like attending</li>
        <li>customers, taking orders, generating an invoice, search history, etc.</li>
      </ul>
    </div>
  </div>
  <hr>
</div>