<carousel>
    <slide>
      <img src="../../../assets/homepage.png" height="400px" width="1200px" alt="Image 1">
    </slide>
    <slide>
      <img src="../../../assets/category.png" height="400px" width="1200px" alt="Image 2">
    </slide>
    <slide>
      <img src="../../../assets/quiz.png" height="400px" width="1200px" alt="Image 3">
    </slide>
    <slide>
        <img src="../../../assets/users.png" height="400px" width="1200px" alt="Image 3">
      </slide>
      <slide>
        <img src="../../../assets/userexampage.png" height="400px" width="1200px" alt="Image 3">
      </slide>
      <slide>
        <img src="../../../assets/startquiz.png" height="400px" width="1200px" alt="Image 3">
      </slide>
  </carousel>
  <hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Online Exam Portal - Angular And Spring Boot Development</h1>
  
      <ul>
        <li>Created UI using Angular.</li>
        <li>Created APIs and Backend logic using Spring Boot.</li>
        <li>JWT authentication, Rolls and Permission, Swagger documentation.</li>
        <li>taking quiz, quiz result history, generating an result pdf, search history, etc.</li>
      </ul>
    </div>
  </div>
  <hr>
</div>