<div class="container">
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card" (click)="openDialogasset()">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image-assets"></div>
                  <mat-card-title>Assets Managment System</mat-card-title>
                  <mat-card-subtitle>Oracle Apex Development</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://source.unsplash.com/400x200/?office,assets" alt="Photo of a Shiba Inu">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
     
    </div>
</div>