<div class="container-fluid black">

    <button mat-raised-button color="warn" class="mt-2 float-lg-end" onclick="location.href = 'https:in.docworkspace.com/d/sINm5kO2QAeKRl6AG';"> Downlaod Resume</button>

    <div class="row">
        <div class="col-md-4 offset-md-4">

            <div class="text-center">

                <img class="mt-3 img" src="../../../assets/instagram.png"
                    height="150" width="150px" alt="">
                <h1>Anurag Sharma</h1>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 offset-md-1">


            <div class="row mt-5">
                <header>
                    <!-- <h1 class="cheakk"><b>RESUME</b> <span></span></h1> -->
                    <!-- <h1 class="cheak"><b>CHECK MY RESUME</b></h1> -->
                    <hr
                        style="height:2px;border-width:auto;color:gray;background-color:gray">
                </header>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <ul><h1 class="summry">Summary</h1></ul>
                    <hr>
                    <h3 ml-3>Highly motivated and skilled software developer
                        with
                        over 1+ years of experience building robust and scalable
                        applications using Spring Boot and Angular. Demonstrated
                        ability to deliver high-quality code, solve complex
                        problems, and work collaboratively with cross-functional
                        teams. Looking for a stimulating and challenging role in
                        a dynamic organization that provides opportunities for
                        professional growth and innovation.
                    </h3>

                    <!-- //// -->

                    <ul class="summry mt-5">Education</ul>
                    <hr>

                    <h1> <li class="mt-2">Bachelor of Technology (I.T)</li></h1>
                    <h3 class="ml22">Shushila Devi Bansal College of Technology,</h3>
                    <h3 class="ml22">Indore, Madhya Pradesh, 04/2022</h3>

                    <h1> <li>12th (M.P. Board)</li></h1>
                    <h3 class="ml22">Sanskar Valley Public Higher Secondary
                        School.</h3>
                    <h3 class="ml22">Maheswar, Madhya Pradesh, 05/2018</h3>

                    <!-- //// -->

                    <ul class="summry mt-5">Languages</ul>
                    <hr>
                    <li class=" ml22 mt-2">English</li>
                    <li class=" ml22">Hindi</li>
                    <h1></h1>


                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-5">

                    <h1><ul class="summry">Experience</ul></h1>
                    <hr>
                    <h1 class="ml22">Zehntecch Technology | Indore, MadhyPradesh</h1>
                    <h1 class="ml22">Software Engineer | 11/2021 - Present</h1>
                    <li class="ml22">Developed and maintained applications using
                        Spring Boot
                        and Angular with cross-functional teams
                    </li>

                    <li class="ml22">Implemented RESTful web services and API
                        integrations to
                        enhance application functionalit
                    </li>

                    <li class="ml22">Responsible for ensuring that appropriate
                        coding
                        practices are adhered to during code reviews
                    </li>

                    <li class="ml22">Provide timely and efficient
                        troubleshooting and
                        resolution of technical issues
                    </li>

                    <ul><h1 class="summry mt-5">Location</h1></ul>
                    <hr>
                    <img src="../../../assets/indai.png" height="20px"
                        width="20px" alt=""> <span class="ml2">Indore,
                        MadhyPradesh, India</span>

                </div>
            </div>

        </div>
    </div>



</div>