.black{
  
}
.line{
    color: black;
}
.cheak{
    font-size: 28px;
}
.cheakk{
    font-size: 35px;
}
.summry{
    font-size: 35px; 
}
.ml2{
    margin-left: 15px;
}
.ml22{
    margin-left: 35px;
}
.lan{
    font-size: 23px;
}
.img {
    border-radius: 50%;
  }